// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #e6b31e
$secondary = #26A69A
$accent    = #1d1d1d

$dark = #1d1d1d
$light = #ebebeb

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #e6b31e



$typography-font-family  ?= 'IRANSans', sans-serif

@import '~quasar-variables-styl'
