@import './quasar.variables'
@import '~quasar-styl'

.q-notification
  direction: rtl
  &--standard
    padding: 0 1.5rem
  &__icon
    padding: 0 0 0 1.5rem
  &--standard &__actions
    padding-right: 3rem

// @import '~quasar-addon-styl'
